<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AskQuestionServlet</servlet-name>
    <servlet-class>action.AskQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>action.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>action.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>action.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserInfoChangeServlet</servlet-name>
    <servlet-class>action.UserInfoChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JumpToQuestionServlet</servlet-name>
    <servlet-class>action.JumpToQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAnswerServlet</servlet-name>
    <servlet-class>action.AddAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>action.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>action.SendMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>action.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CancelFocusServlet</servlet-name>
    <servlet-class>action.CancelFocusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFocusServlet</servlet-name>
    <servlet-class>action.AddFocusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMoreDiscoveryServlet</servlet-name>
    <servlet-class>action.GetMoreDiscoveryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMoreAnswerServlet</servlet-name>
    <servlet-class>action.GetMoreAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCommentsServlet</servlet-name>
    <servlet-class>action.GetCommentsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadUserPicServlet</servlet-name>
    <servlet-class>action.UploadUserPicServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeMessageStatusServlet</servlet-name>
    <servlet-class>action.ChangeMessageStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadAnswerPicServlet</servlet-name>
    <servlet-class>action.UploadAnswerPicServlet</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>AskQuestionServlet</servlet-name>
    <url-pattern>/askQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoChangeServlet</servlet-name>
    <url-pattern>/userInfoChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JumpToQuestionServlet</servlet-name>
    <url-pattern>/jumpToQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAnswerServlet</servlet-name>
    <url-pattern>/addAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/sendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/addCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelFocusServlet</servlet-name>
    <url-pattern>/cancelFocusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFocusServlet</servlet-name>
    <url-pattern>/addFocusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMoreDiscoveryServlet</servlet-name>
    <url-pattern>/getMoreDiscoveryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMoreAnswerServlet</servlet-name>
    <url-pattern>/getMoreAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCommentsServlet</servlet-name>
    <url-pattern>/getCommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadUserPicServlet</servlet-name>
    <url-pattern>/uploadUserPicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeMessageStatusServlet</servlet-name>
    <url-pattern>/changeMessageStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadAnswerPicServlet</servlet-name>
    <url-pattern>/uploadAnswerPicServlet</url-pattern>
  </servlet-mapping>

</web-app>